<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8"/>
<title>Student Manager</title>
</head>
<body>
<div align="center">
<div sec:authorize="isAuthenticated()">
		Welcome <b><span sec:authentication="name">username</span></b>
		&nbsp;
		<i><span sec:authentication="principal.authorities">Roles</span></i>
	</div>
		
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Logout" />
	</form>
	
	<h1>Student List</h1>
	<div sec:authorize="hasAnyAuthority('USER', 'ADMIN')">
		<a href="/new">Add New Student</a>
	</div>
   
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>Student ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>MobileNumber</th>
                <th>Email</th>
                <th>ProjectName</th>
                <th>Duration</th>
                
            </tr>
        </thead>
        <tbody>
        <th:block th:each="stu : ${slist}"> 
            <tr>
            
            <td>[[${stu.id}]]</td>
            <td>[[${stu.firstName}]]</td>
             <td>[[${stu.lastName}]]</td>
              <td>[[${stu.mobileNumber}]]</td>
               <td>[[${stu.emailAddress}]]</td> 
            
            <td th:each="p:${stu.proj}">[[${p.projName}]]</td>
            <td th:each="p:${stu.proj}">[[${p.projDuration}]]</td>
            
            
           
            	<!-- <td th:text="${stu.id}">Student ID</td>
                <td th:text="${stu.firstName}">FirstName</td>
                <td th:text="${stu.lastName}">LastName</td>
                <td th:text="${stu.mobileNumber}">MobileNumber</td>
                <td th:text="${stu.emailAddress}">Email</td>
                <td th:text="${stu.proj.projName}">ProjectName</td>
                <td th:text="${stu.proj.projDuration}">Duration</td> -->
                
               
            </tr>
            </th:block>
        </tbody>
    </table>
</div>    
</body>
</html>